{% extends 'template/default.twig' %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading"> Change Password </div>
        <div class="panel-body">
            <form class="form" autocomplete="off" action="{{ path_for('auth.password.change') }}" method="post">
                <div class="form-group {{ errors.password_old ?  'has-error' : '' }} ">
                    <label for="password_old"> Current Password </label>
                    <input type="password" name="password_old" class="form-control">

                    {% if errors.password_old %}
                      <span class="help-block"> {{ errors.password_old | first }} </span>
                    {% endif %}
                </div>


                <div class="form-group {{ errors.password ? 'has-error' : ''}}">
                    <label for="password"> New Password </label>
                    <input type="password" name="password" class="form-control">

                    {% if errors.password_old %}
                      <span class="help-block"> {{ errors.password | first }} </span>
                    {% endif %}
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-danger pull-right" name="submit"> Change </button>
                </div>

                {{ csrf.field | raw }}
            </form>
        </div>
      </div>
  </div>
</div>


{% endblock %}
